
.error_textbox{border-color:#F00;}

#datatable
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:60%;
	border-collapse:collapse;
}

#datatable td, #datatable th{
	font-size:1em;
	border:1px solid #000000;
	padding:3px 7px 2px 7px;
}

#datatable th
{
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#A7C942;
	color:#ffffff;
}

#datatable tr.alt td
{
	color:#000000;
	background-color:#EAF2D3;
}

#mylist
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#ffffff;
}

#mylist li.alt
{	
	color:#ffaa00;
}

#infolesson{font-size:1.1em;color:#000000;}
#infoclass{font-size:1.1em;color:#000000;}
#infocourse{font-size:0.9em;color:#000000;}
#infoteacher{font-size:1.1em;color:#000000;}
#infook{color:blue;}
#infoerror{color:red;}


